body {
  background-image: linear-gradient(to right, #050138, #0c012a, #000000);
}

h1 {
  
}
.texto {
  
  font-family: 'Open Sans Condensed', sans-serif;
  color: aliceblue;
  text-align: center;
}

#data{
  display: flex;
  justify-content: center;
}

#info-apod {
  margin-top: 50px;
  margin-bottom: 5px;
  text-align: center;
  border-radius: 50px;
  color: white;
  font-size: 25px;
}

